<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Formulário Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
#lista de produtos
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Produtos</h1>
    </div>
#aponta para o formulário form
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/form" class="btn btn-success">Adicionar</a>
    </div>

#tabela com lista de produtos
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">NomeProd</th>
              <th scope="col">Marca</th>
              <th scope="col">Preco</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Vestido</td>
              <td>Hering</td>
              <td>10,00</td>
            </tr>
          </tbody>
        </table>
    </div>


#Formulário de cadastro de produtos
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <form name="formprod" id="formprod" method="post">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        <div class="form-group mt-4">Modelo: {{formprod.NomeProd}}</div>
        <div class="form-group mt-4">Marca: {{formprod.Marca}}</div>
        <div class="form-group mt-4">Ano: {{formprod.Preco}}</div>
        <div class="form-group mt-4">Ano: {{formprod.empresa}}</div>
        <input type="submit" class="btn btn-success" value="Salvar">
    </form>
    </div>
</body>
</html>